
.landing-page{
    display: flex;
    background-image: url("../../svg/running-man.svg");
    background-repeat: no-repeat;
    
    overflow: visible;
    
    background-position-x: toRem(650);

    .wrapper{
       
        .phrase{
             width: 45%;
            .title{
                font-family: 'Inter';
                font-weight: 700;
                font-size: toRem(44);
                line-height: toRem(50);
                color: var(--secondary);
                margin-bottom: toRem(19);
            }

            .sub-title{
                width: 85%;
                font-family: $gilroy;
                font-size: toRem(18);
                line-height: toRem(22);
                color: var(--primary);
                margin-bottom: toRem(40);
            }
        }

        
    }
}

.btn-info{
    display: flex;
    gap: toRem(20);
    margin-bottom: toRem(60);
   .btn{
    padding: toRem(13) toRem(31);
    &.-outline{
        padding: toRem(13) toRem(58);
       }
   }
  
}

.vid-area{
    display: flex;
    gap: toRem(20);
    .vid{
        img{
            padding: toRem(20) toRem(50);
            background: $video;
            border-radius: 4px;
        }
    }

    .vid-text{
        margin-bottom: toRem(107);
        .desc{
            @include rubik-normal;
            font-size: toRem(16);
            line-height: toRem(22);
            
            margin-bottom: toRem(6);
            color: var(--primary);
        }
       
            
            .vid-link{
                text-decoration: none;
                @include rubik-normal;
                font-size: toRem(14);
                line-height: toRem(22);
                color: #6D6D78;
                &:hover{
                    color: var(--primary);
                    transition: color 0.2s;
                }
            }
        }
    }


.sponsors{
    display: flex;
    align-items: center;
    margin-bottom: toRem(220);
    justify-content: center;
    gap: toRem(74);
    .sponsor{
        opacity: 0.3;
        &:hover{
            opacity: 1;
            transition: opacity .2s;
        }
    }
}

@media(max-width: 768px){
    
    .wrapper{
        width: 80% !important;
        
    }
    .sponsors{
        .sponsors-logo{
            width: toRem(576);
        }
    }
    .phrase{
        width: 100% !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}