.container{
    max-width: toRem(1200);
    margin: 0 auto;
}
.small-container{
    max-width: toRem(935);
    margin: 0 auto;
}



@media (max-width: 768px){
    .container{
        max-width: 90% !important; 
    }
}