@font-face {
    font-family: 'gilroy-semibold';
    src: url('../fonts/gilroy-semi-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-semi-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/Gilroy-bold.woff') format('woff');
    weight: normal;
    font-style: normal;
}


